{{define "index"}}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <title>LastFM Spotify Syncer</title>
  </head>
  <body class="p-2">
    <h1 class="text-4xl">LastFM Spotify Syncer</h1>
    <div class="flex p-2">
      You are signed in
      <div>
        LastFM token:
        <input value="{{.lastFmToken}}">
      </div>
    </div>
    <div>
      Sync
      
    </div>
    {{template "auth/spotify" .}}
  </body>
</html>
{{end}}
