{{define "partial/sync-on"}}
<div id="toggle" class="rounded-full w-8 h-4 p-0.5 bg-green-500">
  <div id="inner-toggle" class="rounded-full w-3 h-3 bg-white transform mx-auto duration-300 ease-in-out translate-x-2">
  </div>
</div>
{{end}}

{{define "partial/sync-off"}}
<div id="toggle" class="rounded-full w-8 h-4 p-0.5 bg-red-500">
  <div id="inner-toggle"
    class="rounded-full w-3 h-3 bg-white transform mx-auto duration-300 ease-in-out -translate-x-2"></div>
</div>
{{end}}
